$yellow: #FBBD08;
$lightYellow: #fff8e6;
$green: #21BA45;
$lightGreen: #e9fbed;
$blue: #2185D0;
$lightBlue: #e9f3fc;
$red: #DB2828;
$lightRed: #fbe9e9;
$orange: #F2711C;
$lightOrange: #fef0e7;
$teal: #00b5ad;
$lightTeal: #e6fffe;