// main css file for the app

@import './abstracts';
@import './heading';
@import './tickets';
@import './modals';
@import './tables';

body {
  //   overflow: hidden;
}

#details {
  margin-top: -1rem;

}

#sidebar {
  background-color: rgb(0, 112, 204);
}

.centerVerticalGroup {
  display: -webkit-box !important;

  & > .button {
    display: -webkit-box !important;
  }
}

#ticket-menu {
  margin-top: 1rem !important;
}
