// CSS for the ticket table

.ticket-table {
  font-size: .85em;

  .ReactVirtualized__Table__row {
    &:nth-of-type(even) {
      background-color: #F8F8F8;
    }

    .ReactVirtualized__Table__rowColumn {
      margin-right: 0 !important;

      .label {
        font-size: .9em;
        padding: .4em;
      }

      &:first-of-type {
        margin-left: 0 !important;
      }

      &:last-of-type {
        margin-right: 10px !important;
      }
    }
  }
}
