.status-red {
    color: $red !important;
    border: 1px solid $red !important;
    background-color: $lightRed !important;
}
.status-orange {
    color: $orange !important;
    border: 1px solid $orange !important;
    background-color: $lightOrange !important;
}
.status-yellow {
    color: $yellow !important;
    border: 1px solid $yellow !important;
    background-color: $lightYellow !important;
}
.status-green {
    color: $green !important;
    border: 1px solid $green !important;
    background-color: $lightGreen !important;
}
.status-blue {
    color: $blue !important;
    border: 1px solid $blue !important;
    background-color: $lightBlue !important;
}